<div class="col-sm-12">
    <h3>{{word}}</h3>
    <table id="paper-list" class="table table-compact">
        <header>
            <tr>
                <th>n°</th>
                <th>Download</th>
                <th>Title</th>
                <th>Count</th>
            </tr>
        </header>
        <body>
            <tr ng-repeat="(idx, paper) in papers|orderBy:'count':true">
                <td>{{idx + 1}}</td>
                <td>
                    <a ng-href="{{paper.link}}" class="download-link btn btn-sm btn-info" target="_blank">Download</a>
                </td>
                <td>
                    <span class="paper-title" ng-click="reSearch(paper.title)">{{paper.title}}</span>,
                    <b class="paper-author">{{paper.author}}</b>,
                    <i class="paper-date">{{paper.date}}</i>, 
                    in <span class="paper-publisher">
                    {{paper.publisher}}
                    </span>               
                </td>
                <td>{{paper.count}}</td>
            </tr>
        </body>
    </table>
    <a class="btn btn-primary" ng-href="{{navigateToCloud}}" id="navToWC-button"> Back to Cloud </a>
</div>
