<div min-height="500" min-width="500">
	<p>&nbsp</p>
	<p>&nbsp</p>
	<p>&nbsp</p>
	<p>&nbsp</p>
	<p>&nbsp</p>
	<p>&nbsp</p>
	<p>&nbsp</p>
</div><br/>

<form class="input-form text-center col-md-12">
  <input class= "form-control col-md-5" id="keyword-search"> </input>
  <button class= "btn btn-primary" ng-click="launchKeywordSearch()"  id="keyword-button"> Keyword Search </button>

  <br/><br/>
  <input class= "form-control col-md-5" id="name-search"> </input>
  <button class= "btn btn-primary" ng-click="launchNameSearch()" id="name-button"> Name Search </button>
</form>