<div class="col-md-12">
    <div c-paper-cloud doublecc="launchKeywordSearch" words="words"  class="col-sm-12"></div>
</div>
 
<div id="progress" class="col-md-12"></div>

<form class="input-form text-center col-md-12">
  <input class= "form-control col-md-5" id="keyword-search" ng-model="keywordSearch"> </input>
  <button class= "btn btn-primary" ng-click="launchKeywordSearch()"  id="keyword-button"> Keyword Search </button>

  <br/><br/>
  <input class= "form-control col-md-5" id="name-search" ng-model="nameSearch"> </input>
  <button class= "btn btn-primary" ng-click="launchNameSearch()" id="name-button"> Name Search </button>
</form>
